<div class="container">
    <div class="col s12 m6">
      <div class="card large">
        <div class="card-image">
            <img src="<%=  place.image %>"/>
        

        </div>
        <div class="card-title">
                <h1 class="card-title"><%= place.city %></h1>
        </div>
      </div>
    </div>
  </div>

<style>
/* img {
    height: 400px;
    width: 400px; 
} */




</style>
 



<% for(var i = 0; i < place.posts.length; i++) { %>
       <a href="/places/<%= place._id %>/posts/<%= place.posts[i]._id%>"><h4 style="background:black"  class=" center #ffff00-text yellow-text accent-2-text"  ><%= place.posts[i].title %></h4></a> 
<% } %> 

<% if (loggedIn) { %>
    <a href="/places/<%= place._id %>/posts/new"><button class="btn waves-effect" style="background:#f4e308"  type="submit"  class="material-icons right">Create Post</button></a>
    <% } %>


