<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4"><%= user.name %></h1>
		<p class="lead">
			<%= user.email %> | <%= user._id %> 
	
		</p>
	</div>
</div>

<h2>Recent Posts</h2>
<% place.forEach(p => { %>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title"><%= p.title %>></h5>
    <p class="card-text"><%= p.body %></p>
    <a href="/places/<%= place_id %>/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
  </div>
</div>
<% }) %>
